.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 20vh;
  h1 {
    text-align: center;
    letter-spacing: 2px;
    color: rgb(33, 150, 243);
    margin-bottom: 20px;
  }
  .login-card-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    input {
      height: 30px;
      border-radius: 5px;
      padding-left: 10px;
      border: 1px solid #ccc;
      font-size: 16px;
      transition:
        border-color 0.3s ease,
        box-shadow 0.3s ease;
    }
    input:focus {
      border-color: rgb(33, 150, 243);
      box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
      outline: none;
    }

    button {
      height: 35px;
      border: none;
      border-radius: 5px;
      background-color: rgb(33, 150, 243);
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
      &:hover {
        background-color: rgb(25, 118, 210);
        box-shadow: 0 4px 8px rgba(25, 118, 210, 0.3);
      }
    }
    .register-link {
      margin-top: 10px;
      text-align: center;
      a {
        color: rgb(33, 150, 243);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
